<html>
<head>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">
<style rel="stlesheet" type="text/css">

</style>
</head>

<body>
<div class="container">

<h1>{{p.question}}</h1>
<p>{{p.desc}}</p>
{% for answer in q reversed %}
<h4>{{answer.headline}}</h4>
<p>{{answer.body_text|linebreaks}}</p>
<form action="/frontend/single/{{ p.id }}/upvote/" method="post">
{% csrf_token %}
<input type="hidden" name="headline" id="headline{{ forloop.counter }}" value="{{ answer.id}}" />
<input type="submit" class="btn primary" value="+1" />
</form>
{% endfor %}

<a href="/frontend/">Go Home!</a>


</div>
